@{
    ViewData["Title"] = "Home Page";
}

@section Css {
    <style>
        #index-container {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
        }

        #index-container h1 {
            margin: 5px auto;
        }

        #index-container p {
            margin: 2.5px auto;
        }
    </style>
}

<div id="index-container">
    <h1>Welcome</h1>
    <p>This is just a test page!</p>
</div>
